{% extends "base.html" %} 
{% load static %}
 {% block content %}
 {% if messages %}
 <ul class="messages">
   {% for message in messages %}
   <div class="alert alert-success message">
    <strong>{{ message }}</strong>
</div>
   {% endfor %}
 </ul>
 {% endif %}
      <section class="site-section py-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mb-4">Latest Posts</h2>
            </div>
          </div>
          <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
              <div class="row">
                {% for post in posts %}
                <div class="col-md-6">
                  <a href="{% url 'blog_detail' post.category.slug post.slug %}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                    <img src="{{post.image.url}}" alt="Image placeholder">
                    <div class="blog-content-body">
                      <div class="post-meta">
                        <span class="author mr-2">{{post.author.username}}</span>&bullet;
                        <span class="mr-2">{{post.create_date}} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
                      <h2>{{post.title}}</h2>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>

              <div class="row mt-5">
                <div class="col-md-12 text-center">
                  <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                      <li class="page-item  active"><a class="page-link" href="#">&lt;</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                    </ul>
                  </nav>
                </div>
              </div>



            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
              <div class="sidebar-box search-form-wrap">
                <form action="#" class="search-form">
                  <div class="form-group">
                    <span class="icon fa fa-search"></span>
                    <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                  </div>
                </form>
              </div>
              {% if user.is_authenticated %}
              <div class="sidebar-box">
                <div class="bio text-center"> 
                  <div class="bio-body">
                    <h2>{{user.username}}</h2>
                    <p><a href="#" class="btn btn-primary btn-sm rounded">Create a new post</a></p>
 
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="sidebar-box">
                <h3 class="heading">Popular Posts</h3>
                <div class="post-entry-sidebar">
                  <ul>
                    
                    <li>
                      <a href="">
                        <img src="images/img_2.jpg" alt="Image placeholder" class="mr-4">
                        <div class="text">
                          <h4>How to Find the Video Games of Your Youth</h4>
                          <div class="post-meta">
                            <span class="mr-2">March 15, 2018 </span>
                          </div>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
              <!-- END sidebar-box -->

              <div class="sidebar-box">
                <h3 class="heading">Categories</h3>
                <ul class="categories">
                  {% for k, v in cateCount.items %}
                    <li><a href="#">{{k| capfirst}} <span>({{v}})</span></a></li>
                  {% endfor %}

                </ul>
              </div>
              
              <!-- END sidebar-box -->

              <!-- <div class="sidebar-box">
                <h3 class="heading">Tags</h3>
                <ul class="tags">
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Adventure</a></li>
                  <li><a href="#">Food</a></li>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Freelancing</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Adventure</a></li>
                  <li><a href="#">Food</a></li>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Freelancing</a></li>
                </ul>
              </div>
            </div> -->
            <!-- END sidebar -->

          </div>
        </div>
      </section>

      <script>
        setTimeout(function(){
  $('.message').hide();
},5000);
      </script>
    
{% endblock %}