{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="site-section pt-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-6">
        <h2 class="mb-4">Category: {{cate_name}}</h2>
      </div>
    </div>
    <div class="row blog-entries">

      <div class="col-md-12 col-lg-8 main-content">
        {% if category_posts.count != 0 %}
        <div class="row mb-5 mt-5">

          <div class="col-md-12">
            {% for post in category_posts %}
            <div class="post-entry-horzontal">
              <a href="{% url 'blog_detail' post.category.slug post.slug %}">
                <div class="image element-animate" data-animate-effect="fadeIn"
                  style="background-image: url({{post.image.url}});"></div>
                <span class="text">
                  <div class="post-meta">
                    <span class="author mr-2">Author: {{post.author.username| capfirst}}</span>&bullet;
                    <span class="mr-2">{{post.create_date}}</span> &bullet;
                    <span class="mr-2">{{cate_name}}</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> {{post.comments.count}}</span>
                  </div>
                  <h2>{{post.title}}</h2>
                </span>
              </a>
            </div>
            {% endfor %}




          </div>
        </div>
        {% else %}
        <h5>There's no post</h5>
        {% endif %}

        <!-- pagination -->
        {% if category_posts.has_other_pages %}
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                {% if category_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ category_posts.previous_page_number }}">&lt;</a></li>
                {% else %}
                <li class="disabled page-item"><a class="page-link">&lt;</a></li>
                {% endif %}
                {% for i in category_posts.paginator.page_range %}
                {% if category_posts.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if category_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ category_posts.next_page_number }}">&gt;</a></li>
                {% else %}
                <li class="disabled page-item"><a class="page-link">&gt;</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>

        {% endif %}

        <!-- end pagination -->



      </div>

      <!-- END main-content -->

      {% include "snippet/sidebar.html" %}
    </div>
</section>

{% endblock content %}