{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                <img src="{{post.image.url}}" alt="Image" class="img-fluid mb-5">
                <div class="post-meta">
                    <span class="author mr-2">Author: {{post.author.username| capfirst}}</span>&bullet;
                    <span class="mr-2">{{post.create_date}} </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h1 class="mb-4">{{post.title}}</h1>
                <a class="category mb-5" href="#">{{post.category}}</a>

                <div class="post-content-body">

                    {{ post.body|safe }}

                    {% autoescape off %}
                    {{ post.body}}
                    {% endautoescape %}
                </div>


                <div class="pt-5">
                    <p>Categories: <a href="#">{{post.category}}</a> </p>
                </div>
                {% if post.author == request.user %}
                <div>
                    <a href="{% url 'update_blog' post.slug %}" class="btn btn-info btn-sm rounded">Update the post</a>

                    <form action="{% url 'delete_blog' post.slug %}" method="post" class="confirmation">
                        {% csrf_token %}
                        <input type="submit" value="Delete the post" class="btn btn-danger btn-sm rounded">
                    </form>

                </div>

                {% endif %}
                <!-- comments -->
                <div class="pt-5">
                    <h3 class="mb-5">{{comments.count}} Comments</h3>
                    <ul class="comment-list">
                        <!-- Comment with nested comments -->
                        {% for comment in comments %}

                        <li class="comment">

                            <div class="comment-body">
                                <h3>{{comment.author.username| capfirst}}</h3>
                                <div class="meta">{{comment.updated}}</div>
                                <p>{{comment.body}}</p>
                                <div>
                                    <a class="reply rounded buttonReply">Reply</a>
                                    <!--  reply form -->
                                    <div class="replyForm">
                                        {% if user.is_authenticated %}
                                        <form action="{{post.get_absolute_url}}" class="p-5 bg-light" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="message">Message</label>
                                                {{comment_form.body}}
                                            </div>
                                            <input type="hidden" name="parent_id" value="{{comment.id}}">
                                            <div class="form-group">
                                                <input type="submit" value="Post Comment" class="btn btn-primary">
                                            </div>

                                        </form>
                                        {% else %}
                                        <a class="btn btn-outline-info"
                                            href="{% url 'login' %}?next={{request.path}}">Log
                                            in to add a comment!</a><br>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                            <ul class="children">
                                {% for replay in comment.replies.all %}
                                <li class="comment">

                                    <div class="comment-body">
                                        <h3>{{replay.author.username| capfirst}}</h3>
                                        <div class="meta">{{replay.updated}}</div>
                                        <p>{{replay.body}}</p>

                                </li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% empty %}

                        <strong class="text-secondary">No comments yet...</strong>
                        {% endfor %}
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        {% if user.is_authenticated %}
                        <form action="{{post.get_absolute_url}}" class="p-5 bg-light" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="message">Message</label>
                                {{comment_form.body}}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>

                        </form>
                        {% else %}
                        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a
                            comment!</a><br>
                        {% endif %}
                    </div>

                </div>

            </div>

            <!-- END main-content -->

            {% include "snippet/sidebar.html" %}

</section>
<script type="text/javascript">
    $(".confirmation").submit(function () {

        var res = confirm('Are you sure you wish to delete?');
        console.log(res);
        return res;
    });

    $(".replyForm").hide();

    $(".buttonReply").click(function () {
        if ($(this).next(".replyForm").is(":visible")) {
            $(this).next(".replyForm").hide();

        } else {
            $(this).next(".replyForm").show();

        }
    });


</script>

<!-- END section -->
{% endblock content %}