{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                <img src="{{post.image.url}}" alt="Image" class="img-fluid mb-5">
                <div class="post-meta">
                    <span class="author mr-2">Author: {{post.author.username| capfirst}}</span>&bullet;
                    <span class="mr-2">{{post.create_date}} </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h1 class="mb-4">{{post.title}}</h1>
                <a class="category mb-5" href="#">{{post.category}}</a>

                <div class="post-content-body">

                    {{ post.body|safe }}

                    {% autoescape off %}
                    {{ post.body}}
                    {% endautoescape %}
                </div>


                <div class="pt-5">
                    <p>Categories: <a href="#">{{post.category}}</a> </p>
                </div>
                {% if post.author == request.user %}
                <div>
                    <a href="{% url 'update_blog' post.slug %}" class="btn btn-info btn-sm rounded">Update the post</a>

                    <form action="{% url 'delete_blog' post.slug %}" method="post" class="confirmation">
                        {% csrf_token %}
                        <input type="submit" value="Delete the post" class="btn btn-danger btn-sm rounded">
                    </form>

                </div>

                {% endif %}
                <!-- comments -->
                <div class="pt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    <ul class="comment-list">


                        <li class="comment">
                            <div class="vcard">
                                <img src="images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply rounded" id="buttonReply">Reply</a></p>
                                <!--  reply form -->
                                <form action="#" class="p-5 bg-light" id="replyForm" style="display:none;">
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="" id="message" cols="30" rows="5"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn btn-primary">
                                    </div>

                                </form>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="images/person_1.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>Jean Doe</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                                            laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                                            enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                        </p>

                                </li>
                            </ul>
                        </li>


                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <!-- END main-content -->

            {% include "snippet/sidebar.html" %}
        </div>
</section>
<script type="text/javascript">
    $(".confirmation").submit(function () {

        var res = confirm('Are you sure you wish to delete?');
        console.log(res);
        return res;
    });

    $("#buttonReply").click(function (e) {
        $("#replyForm").show();

        e.preventDefault();
    });
</script>

<!-- END section -->
{% endblock content %}