{% extends "base.html" %} 
{% load static %}
{% block header %}{% endblock %}
 {% block content %}
 {% for message in messages %}
 <div class="alert alert-danger message">
   <strong>{{ message }}</strong>
 </div>
 {% endfor %}
  <div class="container form">
    <h2>Login</h2>

    

    <form method="POST" class="post-form">
      {% csrf_token %}
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="staticEmail" name="email">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
      </div>
      <!-- {{ form.as_p }} -->
      <button type="submit" class="btn btn-primary mb-3">Login</button>
    </form>
  </div>
  
  <script>
    setTimeout(function () {
      $('.message').hide();
    }, 5000);
  </script>
  
  {% endblock content %}
  {% block footer %}{% endblock %}